*{
  padding: 0;
  margin: 0;
  /* 全局禁用文本选中，防止不好的体验 */
  user-select: none;
}
/* 整体外包盒子 */
.outer-container{
  position: relative;
  height: 100%;
  /* background-color: rgb(215, 250, 222); */
  background-image: url(../assets/2.jpg);
}

/* 血条显示外包盒子 */
.top-container{
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  border-bottom: 1px solid black;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 25px;
  box-shadow:inset 0 0 6px rgba(255, 255, 255, 0.2);

}


.cost-container{
  position: absolute;
  width: 450px;
  height: 20px;
  bottom: 5px;
}

.blood-container-left{
  position: absolute;
  width: 350px;
  height: 20px;
  border: 1px solid black;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.blood-container-right{
  position: absolute;
  width: 350px;
  height: 20px;
  border: 1px solid black;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.blood-left{
  height: 20px;
  background-color: green;
}

.blood-right{
  height: 20px;
  background-color: red;
}

.name-left{
  position: absolute;
  top: 10px;
  left: 0;
  font-weight: 600;
}

.name-right{
  position: absolute;
  top: 10px;
  right: 0;
  font-weight: 600;
}

.ceng-span{
  position: absolute;
  font-weight: 600;
  left: 50%;
  transform: translateX(-50%);
}

.max-ceng-span{
  position: absolute;
  font-weight: 600;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-container{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 250px;
  border-top: 1px solid black;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 25px;
  box-shadow:inset 0 0 6px rgba(255, 255, 255, 0.2);

}

.equ-container{
  position: absolute;
  left: 0;
  width: 350px;
  height: 100%;
  border-right: 1px solid black;
  overflow: auto;
}

.head-text{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.equ-item{
  position: relative;
  display: inline-block;
  text-align: center;
  margin-bottom: 5px;
  width: 120px;
  height: 30px;
  left: 30px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  border-right: 1px solid black;
}

.skill-container{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 350px;
  width: 1050px;
  height: 100%;
  border-right: 1px solid black;
}

.skill-item-origin{
  float: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18px;
  width: 150px;
  height: 90%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
  transition: all .2s;
  cursor: pointer;
}

.skill-item-legend{
  width: 90%;
  height: 90%;
  animation: leg 6s infinite linear;
  transition: all .2s;
  border: 2px dashed rgb(251, 127, 10);
}

@keyframes leg {
	0% {
    border: 2px solid rgb(255, 89, 0);
  }
  10% {
    border: 2px solid rgb(245, 149, 6);
  }
  20% {
    border: 2px solid rgb(183, 255, 0);
  }
  30% {
    border: 2px solid rgb(0, 255, 51);
  }
  40% {
    border: 2px solid rgb(0, 255, 136);
  }
  50% {
    border: 2px solid rgb(2, 209, 255);
  }
  60% {
    border: 2px solid rgb(0, 72, 255);
  }
  70% {
    border: 2px solid rgb(51, 0, 255);
  }
  80% {
    border: 2px solid rgb(174, 0, 255);
  }
  90% {
    border: 2px solid rgb(255, 0, 195);
  }
  100% {
    border: 2px solid rgba(254, 2, 61, 0.991);
  }
}

.skill-item-origin div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-item-mythology{
  width: 90%;
  height: 90%;
  transition: all .2s;
  border: 2px dashed red;
}

.skill-item-epic{
  width: 90%;
  height: 90%;
  transition: all .2s;
  border: 2px dashed blueviolet;
}

.skill-item-rare{
  width: 90%;
  height: 90%;
  transition: all .2s;
  border: 2px dashed blue;
}

.skill-item-normal{
  width: 90%;
  height: 90%;
  transition: all .2s;
  border: 2px dashed black;
}

.skill-title-span{
  position: absolute;
  top: 10px;
}

.skill-qua-span{
  position: absolute;
  top: 30px;
}

.skill-desc-span{
  font-size: 12px;
  word-wrap:break-word;
}

.skill-item-origin:hover{
  box-shadow: 5px 5px 5px 5px gray;
}

.skill-cost-span{
  position: absolute;
  font-size: 14px;
  bottom: 15px;
}

.attr-container{
  position: absolute;
  right: 0;
  width: 150px;
  height: 100%;
}

.attr-item{
  position: relative;
  width: 100%;
  display: inline-block;
}

.attr-item-span{
  position: absolute;
  left: 10px;
  top: -20px;
}

.enemy-attr{
  position: relative;
  top: 60px;
  right: 0;
  font-size: 20px;
}

.detail-desc-text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.detail-quality-text{
  position: absolute;
  top: 30px;
}

.player-img{
  position: absolute;
  top: 45%;
  transition: all .2s;
  transform: translateY(-50%);
  left: 30px;
  width: 260px;
  height: 200px;
}

.monster-img{
  position: absolute;
  top: 45%;
  transition: all .2s;
  transform: translateY(-50%);
  right: 30px;
  width: 280px;
  height: 200px;
}

.finish-container{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(52, 53, 53, 0.544);
}

.finish-detail-container{
  position: relative;
  width: 500px;
  height: 200px;
  background-color: #fff;
  border-radius: 30px;
}

.finish-victory, .finish-defeat{
  position: absolute;
  width: 100%;
  height: 100%;
}

.finish-title{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.finish-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.finish-btn{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  width: 150px;
  height: 30px;
  bottom: 5px;
  border: 1px solid pink;
  cursor: pointer;
  border-radius: 10px;
  transition: all .2s;
  font-weight: 600;
  background-color: #fff;
}

.finish-gold-text{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.finish-btn:hover{
  background-color: pink;
  color: #fff;
}

.finish-text-record{
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  color: red;
}

.enemyAttr-container{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 22;
  background-color: rgba(0, 0, 0, 0.3);
}

.enemy-attr-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 200px;
  background-color: #fff;
  border-radius: 50px;
}

.enemy-close-btn{
  position: relative;
  left: 36%;
  margin-top: 10px;
  width: 150px;
  height: 30px;
  bottom: 5px;
  border: 1px solid pink;
  cursor: pointer;
  border-radius: 10px;
  transition: all .2s;
  font-weight: 600;
  background-color: #fff;
}

.enemy-close-btn:hover{
  background-color: pink;
  color: #fff;
}

.enemy-attr-item-span{
  position: relative;
  display: block;
  width: 200px;
  left: 42%;
  top: 15%;
}

.enemy-attr-title{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.enemy-attr-item-container{
  width: 100%;
  height: 100%;
  overflow: auto;
}

.gain-container{
  position: relative;
  top: -200px;
  width: 500px;
  height: 200px;
  background-color: #fff;
  border-radius: 30px;
}

.finish-gain{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: 600;
}

.gainner-get{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 100%;
  overflow: auto;
}

.finish-turn-btn{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  width: 170px;
  height: 30px;
  border: 1px solid pink;
  cursor: pointer;
  border-radius: 10px;
  transition: all .2s;
  font-weight: 600;
  background-color: #fff;
}

.finish-turn-btn:hover{
  background-color: pink;
  color: #fff;
}

.num-player{
  position: absolute;
  transition: all .3s;
  top: 140px;
  left: 270px;
  width: 120px;
  height: 60px;
  /* background-color: antiquewhite; */
}

.num-enemy{
  position: absolute;
  transition: all .3s;
  top: 140px;
  right: 270px;
  width: 120px;
  height: 60px;
  /* background-color: antiquewhite; */
  
}

.cost-container span{
  font-size: 10px;
}

@keyframes jump1 {
  0%{
    left: 30px;
  }

  50%{
    left: 100px;
  }

  100%{
    left: 30px;
  }
}

@keyframes jump2 {
  0%{
    right: 30px;
  }

  50%{
    right: 100px;
  }

  100%{
    right: 30px;
  }
}

.play-ani1{
  animation: jump1 .3s 1 ease-in-out;
}

.play-ani2{
  animation: jump2 .3s 1 ease-in-out;
}

@keyframes noshow {
  0%{
    /* transform: translateY(0); */
    top: 200px;
    opacity: 1;
  }

  50%{
    /* transform: translateY(-1px); */
    top: 195px;
    opacity: 0.5;
  }

  100%{
    /* transform: translateY(-1px); */
    top: 190px;
    opacity: 0;
  }

}

.show-your-turn{
  position: absolute;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  left: 50%;
  top: 200px;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  transition: all .2s;
  transform: translateX(-50%);
  animation: noshow 1.5s linear;
}

.show-num-container span{
  font-size: 14px;
} 